@inherits LayoutComponentBase
@inject HttpClient Http
@page "/" 

<EditForm Model="book" OnValidSubmit="submitForm"> 
    <DataAnnotationsValidator/>

    <label>Title</label>
    <InputText @bind-Value="@book.Title" class="form-control"/>
    <ValidationMessage For="@(() => book.Title)" />

    <label> Description</label>        
    <InputText @bind-Value="@book.Description" class="form-control" />
    <ValidationMessage For="@(() => book.Description)" />

    <label> Author</label>
    <InputText @bind="@book.Author" class="form-control" />
    <button type="button" class="btn btn-primary" @onclick="AddAuthor">Add Author</button>
    <ValidationMessage For="@(() => book.Author)" />
     
   
    <button type="button" class="btn btn-primary" @onclick="AddAuthor">AddAuthor</button>
    <button type="submit" class="btn btn-primary" @onclick = "AddNewBook">Submit</button>
    
</EditForm>

@code{
    public BookDto book = new BookDto();

    public string InputData {get; set;} = string.Empty;
    private void AddAuthor()
    {
    if (!string.IsNullOrWhiteSpace(InputData))
    {
        book?.Author.Add(InputData);
        InputData = string.Empty;
    }
    }

    [Parameter]
    public EventCallback<BookDto> OnValidSubmit { get; set; }
    
    private async Task submitForm()
    {
        await OnValidSubmit.InvokeAsync(book);

        book = new BookDto();
        book.Authors = new List<string>();
    }

}
